{% extends 'base.html.twig' %}

{% block title %}{{'Edit Answer'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Answer'|trans}}</h1>

    {% if is_granted('ROLE_TEACHER') %}
        {{ include('answer/_form.html.twig', {'button_label': 'Save'|trans}) }}
    {% endif %}

{% endblock %}
