{% extends 'base.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1>Edit Answer</h1>

    {% if is_granted('ROLE_TEACHER') %}
        {{ include('answer/_form.html.twig', {'button_label': 'Update'}) }}
    {% endif %}

    <a href="{{ path('answer_index') }}">back to list</a>

    {{ include('answer/_delete_form.html.twig') }}
{% endblock %}
