{% extends 'base.html.twig' %}

{% block title %}{{'New Answer'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Answer'|trans }}</h1>

    {{ include('answer/_form.html.twig') }}

{% endblock %}
