{% extends 'base.html.twig' %}

{% block title %}New Answer{% endblock %}

{% block body %}
    <h1>Create new Answer</h1>

    {{ include('answer/_form.html.twig') }}

    <a href="{{ path('answer_index') }}">back to list</a>
{% endblock %}