{% extends 'base.html.twig' %}

{% block title %}{{'Edit Question'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Question'|trans}}</h1>

    {% if is_granted('ROLE_TEACHER') %}
        {{ include('question/_form.html.twig', {'button_label': 'Save'|trans}) }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/question.js') }}" type="text/javascript"></script>
{% endblock %}
