{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create new Question</h1>

    {{ include('question/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/question.js') }}" type="text/javascript"></script>
{% endblock %}
