{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create new Question</h1>

    {{ include('question/_form.html.twig') }}

    <a href="{{ path('question_index') }}">back to list</a>
{% endblock %}