{% extends 'base.html.twig' %}

{% block title %}{{'New Question'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new question'|trans}}</h1>
    
    {% if is_granted('ROLE_TEACHER') %}
        {{ include('question/_form.html.twig') }}
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/question.js') }}" type="text/javascript"></script>
{% endblock %}
