{% extends 'base.html.twig' %}

{% block title %}{{'Edit Category'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Category'|trans}}</h1>

    {% if is_granted('ROLE_TEACHER') %}
        {{ include('category/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {% endif %}

{% endblock %}
