{% extends 'base.html.twig' %}

{% block title %}{{'New Category'|trans}}{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

{% endblock %}
