{% extends 'base.html.twig' %}

{% block title %}{{'New Category'|trans}}{% endblock %}

{% block body %}
    <h1><i class="fa fa-tag"></i> {{'Create new category'|trans}}</h1>

    {{ include('category/_form.html.twig') }}

{% endblock %}
