{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <img src="https://raw.githubusercontent.com/LaurentBouquet/joliquiz/assets/JoliQuiz.png" alt="JoliQuiz">

        <div class="jumbotron">
            <h3>Need to check on students’ performance?</h3>
            <p class="lead">Welcome! JoliQuiz is an online quiz software. A simple and free tool.</p>
            <hr class="my-4">
            <h3>Features</h3>
            <ul>
                <li>Engaging interactive content</li>
                <li>
                    Image and media support, automatic social media integration
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="not yet implemented">
                        <i class="fas fa-clock"></i>
                    </span>
                </li>
                <li>
                    Automatic scoring
                </li>
                <li>
                    Real-time activity tracking (receive the results of your students by email)
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="not yet implemented">
                        <i class="fas fa-clock"></i>
                    </span>
                </li>
                <li>
                    Test your audience via smartphone and provide live results during a presentation
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="not yet implemented">
                        <i class="fas fa-clock"></i>
                    </span>
                </li>
            </ul>
            License : This is a 100% free service that covers all functionality.</p>
        <a class="btn btn-primary float-md-right" href="{{ path('login') }}" role="button"><i class="fas fa-play"></i> {{ 'Let\'s start'|trans}}</a>
        </div>

    </div>

{% include 'home_bottom.html.twig' %}

{% endblock %}
