{% extends 'base.html.twig' %}

{% block title %}{{'Edit Quiz'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Quiz'|trans}}</h1>

    {% if is_granted('ROLE_TEACHER') %}
        {{ include('quiz/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {% endif %}

{% endblock %}
