{% extends 'base.html.twig' %}

{% block title %}Edit Quiz{% endblock %}

{% block body %}
    <h1>Edit Quiz</h1>

    {% if is_granted('ROLE_TEACHER') %}
        {{ include('quiz/_form.html.twig', {'button_label': 'Update'}) }}
    {% endif %}

{% endblock %}
