{% extends 'base.html.twig' %}

{% block title %}{{'New Quiz'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new quiz'|trans}}</h1>

    {{ include('quiz/_form.html.twig') }}

{% endblock %}
