{% extends 'base.html.twig' %}

{% block title %}{{'New Quiz'|trans}}{% endblock %}

{% block body %}
    <h1><i class="fa fa-graduation-cap"></i> {{'Create new quiz'|trans}}</h1>

    {{ include('quiz/_form.html.twig') }}

{% endblock %}
