{# templates/emails/passwordresetting.html.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Renouvellement du mot de passe</title>
</head>
<body>
    <p>
        {{ 'Hi,'|trans }}<br>
        {{ 'Please click this link to change your password:'|trans }}
        <a href="{{absolute_url(path('resetting', {'id': user.id, 'token': user.token}))}}">{{ 'Change the password'|trans }}</a>
    </p>
    <img src="https://raw.githubusercontent.com/LaurentBouquet/joliquiz/assets/JoliQuiz-300x111.png" alt="JoliQuiz">
</body>
</html>