{# templates/emails/quiz_result.html.twig #}
<h3>A quiz has just been completed!</h3>

{{ username }}, with {{ email }} email, got the following result : {{ score }}% for the quiz "{{quiz.title}}".

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="https://raw.githubusercontent.com/LaurentBouquet/joliquiz/assets/JoliQuiz-300x111.png" alt="JoliQuiz">
