{#
   This is a template fragment designed to be included in the bottom of home template
#}

<ul class="nav justify-content-center fixed-bottom bg-light">
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://opensource.org/licenses/mit-license.php">{{'MIT License'|trans}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://symfony.com/">{{'Powered by Symfony'|trans}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/LaurentBouquet/joliquiz">{{'Code hosted by GitHub'|trans}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/LaurentBouquet/joliquiz/issues">{{'Request a new feature'|trans}}</a>
    </li>
</ul>
