<ul class="nav justify-content-center fixed-bottom bg-light">
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://opensource.org/licenses/mit-license.php">MIT License</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://symfony.com/">Powered by Symfony</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/LaurentBouquet/joliquiz">Code hosted by GitHub</a>
    </li>
</ul>
