{% extends 'base.html.twig' %}

{% block title %}New School{% endblock %}

{% block body %}
    <h1>Create new School</h1>

    {{ include('school/_form.html.twig') }}

    <a href="{{ path('school_index') }}">back to list</a>
{% endblock %}
