{% if is_granted('ROLE_SUPER_ADMIN') %}
    <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('{{'Are you sure you want to delete this user?'|trans}}');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn btn-danger btn-sm mr-2" title=" {{'Delete'|trans}}"><i class="fas fa-trash-alt"></i></button>
    </form>
{% endif %}
