{% extends 'base.html.twig' %}

{% block title %}{{'Edit User'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit User'|trans}}</h1>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ include('user/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {% endif %}

{% endblock %}
