{% extends 'base.html.twig' %}

{% block title %}{{'New User'|trans}}{% endblock %}

{% block body %}
    <h1><i class="fa fa-user"></i> {{'Create new user'|trans}}</h1>

    {{ include('user/_form.html.twig') }}

{% endblock %}
